{
  "authors": [
    {
      "name": "{{author_name}}",
      "orcid": "{{author_orcid}}",
      "email": "{{author_email}}",
      "affiliation": "{{author_affiliation}}",
      "role": "lead"
    }
  ]
}
