cff-version: 1.2.0
message: "If you use this work, please cite it as below."
type: dataset
title: "{{project_name}}"
version: "0.1.0"
date-released: "{{today}}"
authors:
  - name: "{{author_name}}"
    orcid: "https://orcid.org/{{author_orcid}}"
license: CC-BY-4.0
repository-code: "https://github.com/{{github_user}}/{{project_slug}}"
doi: "10.5281/zenodo.pending"
keywords:
  - reproducibility
